In [1]:
def addition(a,b):
  return a+b

In [2]:
addition(1,2,3)

TypeError: ignored

In [12]:
def addition(*num):
  sum = 0
  print(num)
  for i in num:
    sum = sum+i

  return sum

In [13]:
addition(1,2,3,4,4)

(1, 2, 3, 4, 4)

14

In [7]:
addition(1,2)

3

In [16]:
#kwargs: key worded argument
#default arguments
def addition(a,b=10):
  print(a)
  print(b)
  return a+b

In [17]:
addition(2)

2
10

12

In [18]:
addition(2,6)

2
6

8

In [20]:
def addition(a,b=10):
  print(a)
  print(b)
  return a+b

In [22]:
addition(b=10,a=20) #key worded arguments

20
10

30

In [34]:
def account_balance(**kwargs):
  print(kwargs)
  if 'debit' in kwargs:
    print("Amount debited is ",kwargs['debit'])
  else:
    print("No amount debited !")

In [35]:
account_balance(name="Ankur",age=33,debit=1000)

{'name': 'Ankur', 'age': 33, 'debit': 1000}
Amount debited is  1000

In [25]:
account_balance(name="Ankur",age=33)

No amount debited !

In [29]:
account_balance(x=5)

No amount debited !

In [30]:
account_balance(name="Ankur",age=33,debit=1000)

Amount is debited !

In [36]:
account_balance(name="Ankur",age=33,debit=10000)

{'name': 'Ankur', 'age': 33, 'debit': 10000}
Amount debited is  10000

In [37]:
account_balance(name="Ankur",age=33,debit=3200)

{'name': 'Ankur', 'age': 33, 'debit': 3200}
Amount debited is  3200